<div class="moon">

    <div class="phone">
        <ul class="plane">
            <li><a href="#"><i class="fa-solid fa-plane"></i>MUA VÉ</a></li>
            <li><a href="#"><i class="fa-solid fa-book"></i>QUẢN LÍ ĐẶT CHỖ</a></li>

            <li><a href="#"><i class="fa-solid fa-clock"></i>TRA CỨU CHUYẾN BAY</a></li>
             <li><a href="#"><i class="fa-solid fa-ticket"></i>LÀM THỦ TỤC</a></li>
        </ul>
    </div>
</div>


<!--<div class="sky">-->

<!--    <div class="sky1">-->
<!--        <img src="{{url_for('static', filename='images/img_2.png') }}"  alt='anh3'/>-->
<!--    </div>-->
<!--    <div class="plane">-->
<!--        <div class="plane1">-->
<!--            <a href="#"><i class="fa-solid fa-briefcase"></i></a>-->
<!--            <p><a href="#">HÀNH LÝ TRẢ TRƯỚC</a></p>-->

<!--        </div>-->
<!--        <div class="plane2">-->
<!--            <a href="#"><i class="fa-solid fa-jet-fighter-up"></i></a>-->
<!--            <p><a href="#">NÂNG HẠN VÀ CHỌN CHỖ</a></p>-->

<!--        </div>-->
<!--        <div class="plane3">-->
<!--            <a href="#"><i class="fa-solid fa-bag-shopping"></i></a>-->
<!--            <p><a href="#">MUA SẮM</a></p>-->

<!--        </div>-->
<!--        <div class="plane4">-->
<!--            <a href="#"><i class="fa-solid fa-hotel"></i></a>-->
<!--            <p><a href="#">KHÁCH SẠN & TOUR</a></p>-->

<!--        </div>-->
<!--    </div>-->


<!--</div>-->
<!--<hr class="bookends-dots">-->
<!--<div class="game">-->


<!--    <div class="game2">-->
<!--        <ul class="game3">-->
<!--            <li>-->
<!--                <a href="#"><img src="{{url_for('static', filename='images/img_3.png') }}"  alt='anh3'/></a>-->
<!--                <h3><a href="#">VNDHolidays</a></h3>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#"><img src="{{url_for('static', filename='images/img_4.png') }}"  alt='anh3'/></a>-->
<!--                <h3><a href="#">Chương trình ưu đãi</a></h3>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#"><img src="{{url_for('static', filename='images/img_5.png') }}"  alt='anh3'/></a>-->
<!--                <h3><a href="#">Kết Nối Zalo với Vietnam Airlines</a></h3>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#"><img src="{{url_for('static', filename='images/img_6.png') }}"  alt='anh3'/></a>-->
<!--                <h3><a href="#">Hướng dẫn Hoàn/ đổi vé</a></h3>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->


<!--</div>-->
<!--<div class="men">-->
<!--  <h1>-->
<!--    Khám Phá Các Chuyến Bay Phổ Biến Nhất Của Chúng Tôi-->

<!--  </h1>-->
<!--</div>-->
<!--<div>-->
<!--    <ul class="core">-->
<!--        <li><a href="#"><img src="{{url_for('static', filename='images/img_7.png') }}"  alt='anh3'/></a></li>-->
<!--       <li><a href="#"><img src="{{url_for('static', filename='images/img_8.png') }}"  alt='anh3'/></a></li>-->
<!--        <li><a href="#"><img src="{{url_for('static', filename='images/img_9.png') }}"  alt='anh3'/></a></li>-->
<!--        <li><a href="#"><img src="{{url_for('static', filename='images/img_10.png') }}"  alt='anh3'/></a></li>-->
<!--    </ul>-->
<!--</div>-->

<!--<div class="but">-->
<!--    <button name="button" type="button"><a href="#">Xem Thêm</a></button>-->
<!--</div>-->
<!--<div class="msi">-->
<!--    <hr class="hr1">-->
<!--    <p>Dịch Vụ Bổ Trợ</p>-->
<!--    <hr class="hr1">-->

<!--</div>-->
<!--<div class="event">-->

<!--    <ul class="clock">-->
<!--       <li><a href="#"><img src="{{url_for('static', filename='images/img_11.png') }}"  alt='anh3'/></a></li>-->
<!--       <li><a href="#"><img src="{{url_for('static', filename='images/img_12.png') }}"  alt='anh3'/></a></li>-->
<!--        <li><a href="#"><img src="{{url_for('static', filename='images/img_13.png') }}"  alt='anh3'/></a></li>-->
<!--    </ul>-->
<!--</div>-->
<!--<div class="msi">-->
<!--    <hr class="hr1">-->
<!--    <p>Thông tin nổi bật</p>-->
<!--    <hr class="hr1">-->

<!--</div>-->